# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Production/development local environment variables
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db
